<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.@SEAT@.dailysweep</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>@PROJECT_DIR@/2_Project_Files/scheduler/daily_sweep.sh</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key><integer>15</integer>
    <key>Minute</key><integer>0</integer>
  </dict>
  <key>RunAtLoad</key><false/>
  <key>StandardOutPath</key><string>@HOME@/Library/Logs/@SEAT@_dailysweep.out</string>
  <key>StandardErrorPath</key><string>@HOME@/Library/Logs/@SEAT@_dailysweep.err</string>
</dict>
</plist>
